body{
    display: flex;
    flex-direction: column;
}
.header{
    height: 70px;
    text-align: center;
    background-color: rgb(232, 231, 240);
    color: rgb(22, 204, 228);
}


main{
    display: flex;
    min-height: 100vh;
    margin: 10px 0 10px 0;
}
.content-area{
    display: flex;
    flex-wrap: wrap;
}
.content{
    flex: 1;
    height: 1800px;
    background-color: rgb(195, 201, 201);
    text-align: center;
    margin: 0 10px 0 10px;
}
.localNavigation,.ad{
    text-align: center;
    background-color: rgb(39, 9, 150);
    color: #fff;
    width: 500px;
}
.footer{
    height: 70px;
    text-align: center;
    background-color: #eee;
}
